#body{
background:#FFFFFF;
margin:0px;
padding:5px;
padding-bottom:0px;
font-family:MS Sans Serif, arial, tahoma, arial, sans serif;
font-size:12px;
background:#dcdcdc;
}

#sitename{
font-size:25px;
color:#81CFBF;
}
#wcp{
font-size: 25px;
color:#81CFBF;

}

.top_strip{
background:#81CFBF;
height:25px;
padding-right:10px;
}

.bottom_strip{
background:#81CFBF;
height:25px;
padding-left:5px;
}

a.left_nav{
font-family: MS Sans Serif, arial, tahoma, sans-serifs;
font-size: 12px;
color: #C1420;
font-weight:normal;
text-decoration:normal;
}

a.left_nav:hover{
font-family: MS Sans Serif, arial, tahoma, sans-serifs;
font-size: 12px;
color: #C1420;
font-weight:normal;
text-decoration:underline;
}

.left_nav_head{
font-size:14px;
background: #81CFBF;
height:18px;
padding-left:5px;
color:#FFFFFF;
}

.left_nav_link{
padding-left:0px;
}

.left_nav_pre{
background:#FFFFFF;
text-alignment:right;
}

#left_navigation td
{
height:25px;
}

.nav_border{
border:solid 1px #dcdcdc;

}

.border{
border:solid 1px #000000;
}

.table_head{
background:#81CFBF;
color:#FFFFFF;
font-weight:normal;
height:20px;
}

.table_cell
{
background:#FFFFFF;
height:20px;
}

a{
font-family: celibri, MS Sans Serif, arial, tahoma, sans-serifs;
font-size: 13px;
color: #CFA58E;
text-decoration:none;
}

a:hover{
font-family: celibri, MS Sans Serif, arial, tahoma, sans-serifs;
font-size: 13px;
color: #000000;
text-decoration:underline;
}