#body{
margin:0px;
padding:5px;
padding-bottom:0px;
font-family:tahoma, arial, sans serif;
font-size:11px;
background:#000;
}

#sitename{
font-size:25px;
color:#5DC7DB;
}
#wcp{
font-size: 25px;
color:#5DC7DB;

}

.top_strip{
background:#5DC7DB;
height:25px;
padding-right:10px;
}

.bottom_strip{
background:#5DC7DB;
height:25px;
padding-left:5px;
}

a.left_nav{

font-size:13px;
color: #C1420;
font-weight:normal;
text-decoration:none;
}

a.left_nav:hover{

font-size:13px;
color: #C1420;
font-weight:normal;
text-decoration:underline;
}

.left_nav_head{
font-size:13px;
background: #5DC7DB;
height:18px;
padding-left:5px;
color:#FFFFFF;
}

.left_nav_link{
padding-left:0px;
}

.left_nav_pre{
background:#FFFFFF;
text-alignment:right;
}

#left_navigation td
{
height:25px;
}

.nav_border{
border:solid 1px #dcdcdc;

}

.border{
border:solid 1px #000000;
}

.table_head{
background:#5DC7DB;
color:#FFFFFF;
font-weight:normal;
height:20px;
font-size:13px;
text-align:left;
}

.table_cell
{
background:#FFFFFF;
height:25px;
font-size:13px;
text-align:left;
}

td{
font-size:13px;
}


a{

font-size:12px;
color: #C14200;
text-decoration:none;
text-transform:lowercase;
}

a:hover{

font-size:12px;
color: #C14200;
text-decoration:underline;
text-transform:lowercase;
}

a:visited{

font-size:12px;
color: #5D7F57;
text-decoration:none;
text-transform:lowercase;
}

a:visited:hover{

font-size:12px;
color: #C14200;
text-decoration:underline;
text-transform:lowercase;
}

.row-dark{
background: #f7f7f7;
font-size:13px;
}

.row-light{
background: #FFFFFF;
font-size:13px;
}
